<footer class="fixed-bottom mx-0">
  <div class="container py-3">
    <div class="row">
      <div class="col-12">
        <div class="text-center footer-text">
          <p>Have a good day!</p>
        </div>
      </div>
    </div>
  </div>
</footer>
